.elementor-2004 .elementor-element.elementor-element-d25acbf {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--align-items: center;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2004 .elementor-element.elementor-element-d25acbf:not(.elementor-motion-effects-element-type-background),
.elementor-2004 .elementor-element.elementor-element-d25acbf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F7F7F7;
}

.elementor-2004 .elementor-element.elementor-element-d25acbf,
.elementor-2004 .elementor-element.elementor-element-d25acbf::before {
	--border-transition: 0.3s;
}

.elementor-2004 .elementor-element.elementor-element-64a7697 {
	--display: flex;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-2004 .elementor-element.elementor-element-64a7697,
.elementor-2004 .elementor-element.elementor-element-64a7697::before {
	--border-transition: 0.3s;
}

.elementor-2004 .elementor-element.elementor-element-e500ea5 .hfe-site-logo,
.elementor-2004 .elementor-element.elementor-element-e500ea5 .hfe-site-logo-container,
.elementor-2004 .elementor-element.elementor-element-e500ea5 .hfe-caption-width figcaption {
	text-align: center;
}

.elementor-2004 .elementor-element.elementor-element-e500ea5 .hfe-site-logo .hfe-site-logo-container img {
	height: 32px;
	width: auto;
}

.elementor-2004 .elementor-element.elementor-element-e500ea5 .hfe-site-logo .hfe-site-logo-container {
	padding: 19px 0px 20px 0px;
}

.elementor-2004 .elementor-element.elementor-element-e500ea5 .hfe-site-logo-container .hfe-site-logo-img {
	border-style: none;
}

.elementor-2004 .elementor-element.elementor-element-e500ea5 .widget-image-caption {
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-2004 .elementor-element.elementor-element-f4d4185 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
}

.elementor-2004 .elementor-element.elementor-element-f4d4185:not(.elementor-motion-effects-element-type-background),
.elementor-2004 .elementor-element.elementor-element-f4d4185>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-2004 .elementor-element.elementor-element-f4d4185,
.elementor-2004 .elementor-element.elementor-element-f4d4185::before {
	--border-transition: 0.3s;
}

.elementor-2004 .elementor-element.elementor-element-9ad7d6e {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-start;
	--align-items: center;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2004 .elementor-element.elementor-element-240f55d {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 16px;
	--grid-column-gap: 20px;
	--grid-row-gap: 0px;
}

.elementor-2004 .elementor-element.elementor-element-240f55d .elementor-widget-container {
	text-align: center;
}

.elementor-2004 .elementor-element.elementor-element-240f55d .elementor-social-icon {
	background-color: #02010100;
	--icon-padding: 0em;
}

.elementor-2004 .elementor-element.elementor-element-240f55d .elementor-social-icon i {
	color: #616161;
}

.elementor-2004 .elementor-element.elementor-element-240f55d .elementor-social-icon svg {
	fill: #616161;
}

.elementor-2004 .elementor-element.elementor-element-240f55d .elementor-social-icon:hover i {
	color: var(--e-global-color-primary);
}

.elementor-2004 .elementor-element.elementor-element-240f55d .elementor-social-icon:hover svg {
	fill: var(--e-global-color-primary);
}

.elementor-2004 .elementor-element.elementor-element-749b284 .hfe-nav-menu>li.menu-item.rs-mega-menu>ul.sub-menu {
	padding: 20px 30px 35px 30px;
	box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.05);
}

.elementor-2004 .elementor-element.elementor-element-749b284 .hfe-nav-menu nav>ul>li>.hfe-has-submenu-container>a,
.elementor-2004 .elementor-element.elementor-element-749b284 .hfe-nav-menu nav>ul>li>a {
	padding: 40px 10px 40px 28px;
}

.elementor-2004 .elementor-element.elementor-element-749b284 .hfe-nav-menu nav.border-tops>ul>li>a::before,
.elementor-2004 .elementor-element.elementor-element-749b284 .hfe-nav-menu nav.border-tops>ul>li>div>a::before {
	background-color: var(--e-global-color-primary);
}

.elementor-2004 .elementor-element.elementor-element-749b284 a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 a.hfe-sub-menu-item {
	font-size: 15px !important;
	font-weight: 500;
}

.elementor-2004 .elementor-element.elementor-element-749b284 .menu-item a.hfe-menu-item {
	color: var(--e-global-color-text);
}

.elementor-2004 .elementor-element.elementor-element-749b284 .menu-item:hover a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 .menu-item.highlighted a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 .menu-item:focus a.hfe-menu-item {
	color: var(--e-global-color-primary);
}

.elementor-2004 .elementor-element.elementor-element-749b284 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 .menu-item.current-menu-ancestor a.hfe-menu-item {
	color: var(--e-global-color-primary);
}

.elementor-2004 .elementor-element.elementor-element-749b284 .sub-menu,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown-expandible,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: #fff;
}

.elementor-2004 .elementor-element.elementor-element-749b284 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-2004 .elementor-element.elementor-element-749b284 .elementor-menu-toggle:hover,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown li a.hfe-menu-item:hover,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
	color: var(--e-global-color-primary);
}

.elementor-2004 .elementor-element.elementor-element-749b284 .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown .menu-item.current-menu-item a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown .menu-item.current-menu-ancestor a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active {
	color: var(--e-global-color-primary);
}

.elementor-2004 .elementor-element.elementor-element-749b284 .sub-menu li a.hfe-sub-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	font-size: 16px;
	font-weight: 500;
}

.elementor-2004 .elementor-element.elementor-element-749b284 ul.sub-menu {
	width: 220px;
}

.elementor-2004 .elementor-element.elementor-element-749b284 .sub-menu a.hfe-sub-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-2004 .elementor-element.elementor-element-749b284 .sub-menu li.menu-item:not(:last-child),
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-2004 .elementor-element.elementor-element-749b284 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #C4C4C436;
	border-bottom-width: 1px;
}

.elementor-2004 .elementor-element.elementor-element-749b284 .hfe-nav-menu ul>li.menu-item.rs-mega-menu>ul.sub-menu>li>a {
	border-color: #C8C0E230 !important;
}

.elementor-2004 .elementor-element.elementor-element-749b284>.elementor-widget-container {
	margin: 0px 0px 0px 40px;
	
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #1F1F1F14;
}

.elementor-2004 .elementor-element.elementor-element-6b4c2a3 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-end;
	--align-items: center;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2004 .elementor-element.elementor-element-0ed5b9d .rs_stickys_form.search-form {
	top: 61px;
}

.elementor-2004 .elementor-element.elementor-element-0ed5b9d .rs_stickys_form.search-form .search-input {
	border-radius: 3px;
}

.elementor-2004 .elementor-element.elementor-element-0ed5b9d>.elementor-widget-container {
	margin: 0px 30px 0px 0px;
}

.elementor-2004 .elementor-element.elementor-element-406cd36 .rs-button .rs-btn {
	background-color: var(--e-global-color-primary);
}

.elementor-2004 .elementor-element.elementor-element-406cd36 .rs-button .rs-btn:before {
	background-color: var(--e-global-color-8246ec9);
}

.elementor-2004 .elementor-element.elementor-element-406cd36>.elementor-widget-container {
	margin: 0px 30px 0px 0px;
}

@media(min-width:768px) {
	.elementor-2004 .elementor-element.elementor-element-64a7697 {
		--width: 25%;
	}

	.elementor-2004 .elementor-element.elementor-element-6b4c2a3 {
		--width: 34%;
	}
}

@media(max-width:1366px) and (min-width:768px) {
	.elementor-2004 .elementor-element.elementor-element-64a7697 {
		--width: 30%;
	}

	.elementor-2004 .elementor-element.elementor-element-6b4c2a3 {
		--width: 20%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-2004 .elementor-element.elementor-element-64a7697 {
		--width: 35%;
	}

	.elementor-2004 .elementor-element.elementor-element-f4d4185 {
		--width: 65%;
	}
}

@media(max-width:1366px) {
	.elementor-2004 .elementor-element.elementor-element-f4d4185 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 30px;
	}

	.elementor-2004 .elementor-element.elementor-element-749b284>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 10px;
		border-width: 0px 0px 0px 0px;
	}
}

@media(max-width:1024px) {
	.elementor-2004 .elementor-element.elementor-element-e500ea5 .hfe-site-logo .hfe-site-logo-container img {
		height: 22px;
		width: auto;
	}

	.elementor-2004 .elementor-element.elementor-element-f4d4185 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 32px;
	}

	.elementor-2004 .elementor-element.elementor-element-240f55d>.elementor-widget-container {
		padding: 0px 0px 0px 20px;
	}
}

@media(max-width:767px) {
	.elementor-2004 .elementor-element.elementor-element-9ad7d6e {
		--width: 50%;
	}

	.elementor-2004 .elementor-element.elementor-element-240f55d {
		--icon-size: 14px;
		--grid-column-gap: 12px;
	}

	.elementor-2004 .elementor-element.elementor-element-240f55d>.elementor-widget-container {
		padding: 0px 0px 0px 25px;
	}

	.elementor-2004 .elementor-element.elementor-element-6b4c2a3 {
		--width: 50%;
	}
}